<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532635501879-s377anl6for7t5koampi7qeajutnt60r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532635501879-s377anl6for7t5koampi7qeajutnt60r</string>
	<key>API_KEY</key>
	<string>AIzaSyDYj8duaYhFb2cMaYbEjFvmX2ttK1pTiQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>532635501879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>wechat-92629</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-92629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532635501879:ios:672a02a621e568406706b2</string>
</dict>
</plist>